<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hyang.ich.user.mapper.system.SysUserRoleMapper">

    <select id="selectRolesByUserId" resultType="com.hyang.ich.user.entity.SysRole">
        SELECT r.id, r.name, r.code, r.description, r.sort, r.status, r.create_time, r.update_time
        FROM sys_role r INNER JOIN sys_user_role ur ON r.id = ur.role_id
        WHERE ur.user_id = #{userId} AND r.is_deleted = 0
    </select>

    <insert id="insert">
        INSERT INTO sys_user_role (user_id, role_id) VALUES (#{userId}, #{roleId})
    </insert>

    <delete id="deleteByUserId">
        DELETE FROM sys_user_role WHERE user_id = #{userId}
    </delete>
</mapper>
